<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipselabs.restlet.registry.restlet">
      <application
            alias="/registry"
            class="org.eclipselabs.restlet.registry.junit.support.TestApplication">
      </application>
      <resource
            application_alias="/registry"
            class="org.eclipselabs.restlet.registry.junit.support.TestResource">
         <resource_path
               path="/junit/">
         </resource_path>
      </resource>
      <resource
            application_alias="/registry"
            class="org.eclipselabs.restlet.registry.junit.support.TestStoreResource">
         <resource_path
               path="/store">
         </resource_path>
      </resource>
      <resource
            application_alias="/registry"
            class="org.eclipselabs.restlet.registry.junit.support.TestURIParameterResource">
         <resource_path
               path="/param/{uriParam}">
         </resource_path>
      </resource>
   </extension>

</plugin>
