<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Restlet Minimal" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.0.v20110502-7M7W8Z8eNV4UqfbhicjDN-ROgjNc"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.restlet.feature.feature.group" version="2.0.5.201104141103"/>
<unit id="org.restlet.ext.servlet.feature.feature.group" version="2.0.5.201104141103"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/Restlet"/>
</location>
</locations>
</target>
